.button {
	-fx-padding: 7px 15px;
	/*-fx-pref-width: 150;*/
	/*-fx-pref-height: 40;*/
	-fx-font-size:18;
}

.label {
	-fx-font-family: Ubuntu;
	-fx-font-size: 50;
}

#pauseIcon:hover {
	-fx-cursor: hand;
}