Circle {
    -fx-fill: #1a1a1a;
    -fx-stroke: Yellow;
}

Circle:hover {
    -fx-stroke: #ff8c00;
    -fx-cursor: hand;
}

.button {
    -fx-padding: 7px 15px;
    -fx-pref-width: 150;
    /*-fx-pref-height: 40;*/
    -fx-font-size:20;
}
