/*.button {*/
/*	 -fx-padding: 7px 15px;*/
/*	 -fx-pref-width: 150;*/
/*	 !*-fx-pref-height: 40;*!*/
/*	 -fx-font-size:18;*/
/* }*/

.button {
	-fx-padding: 7px 15px;
	-fx-pref-width: 130;
	-fx-pref-height: 30;
	-fx-font-size:15;
}

VBox {
	-fx-border-width: 2;
	-fx-border-color: #e3e3e3;
}
